@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* For tablets: */
  [class*="col-"] {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* For tablets: */
  [class*="col-"] {
    width: 33%;
  }
}
